/* 

 */

* {
 box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

/* the main app css */
.dateApp {
  width: 600px;
  height: 250px;
  background-color: #f7f7f7; /*pretty greyish background*/
  border-radius: 7px;
  margin: 100px auto;   /* placement of containing box*/
  padding: 25px 100px;  /* placement of contents inside box*/
}




.dateModifier {
  display: flex; /* puts all our div children on the same line*/
  padding: 10px; /* some space between the modifiers */
}
.modTitle {
  min-width: 60px; /*gives space so the numbers will line up even though titles have different length*/
  font-weight:bolder;
}
.modVal {
  padding-left: 20px;
}

/* the buttons in the modifier class */
.dateModifier button {
  margin-right: 10px;
  margin-left: 10px;
  font-size: larger;
  padding-left: 10px;
  padding-right: 10px;
}


.displayDate {
  text-align: center;
  font-size: 25px;
  margin: 40px 0; /*gives us some whitespace above us*/
}


