
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
}

/* how all of the flashcards are laied out */
.flashcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*gives is a row of three; each is one part of the whole ("1fr")*/
  gap: 20px;
}


.questionSide {
  border: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  border-radius: 7px;
  aspect-ratio: 2 / 1; /* makes cards height larger*/
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

.answerSide {
  border: 1px solid #e03131;
  background-color: #e03131;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}
